#graphs1{
  margin-bottom: 20px;
}

#graphs2{
  margin-bottom: 20px;
}

#graphs3{
  margin-bottom: 20px;
}

#loginBar{
  margin-bottom: 20px;
}

#searchBar{
  margin-bottom: 20px;
}

#searchResults{
  margin-bottom: 10px;
}

#my_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#my_table td, #my_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#my_table tr:nth-child(even){background-color: #f2f2f2;}

#my_table tr:hover {background-color: #ddd;}

#my_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #78C2AD;
  color: white;
}
