<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel=stylesheet type=text/css href="../../css/bootstrap.min.css" />
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
		<nav class="navbar navbar-light navbar-expand h4 p-3">
			<ul class="navbar-nav align-items-baseline">
				<li class="nav-item active pr-2 mr-5">
					<a class="nav-link" href="/"><h2>DOT</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="../../">Apresentação</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="../../dashboard-search/">Pesquisa</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="../../data/index.html">Arquivo</a>
				</li>
			</ul>
		</nav>
		<nav class="navbar navbar-light navbar-expand h5 p-2">
            <ul class="navbar-nav align-items-baseline">
                <li class="nav-link"><a href="../Entidades/index.html">Entidades</a></li>
                <li class="nav-link"><a href="../Processos/index.html">Processos</a></li>
                <li class="nav-link"><a href="../AlteracoesEstatutos/index.html">Alterações de estatutos</a></li>
                <li class="nav-link"><a href="../EleicoesCorposGerentes/index.html">Eleicoes dos corpos gerentes</a></li>
                <li class="nav-link"><a href="../PK_IRCTs/index.html">IRCTs</a></li>
                <li class="nav-link"><a href="../Outorgantes/index.html">Outorgantes</a></li>
                <li class="nav-link"><a href="../Avisos_Greve/index.html">Avisos Greve</a></li>
            </ul>
        </nav>
		{% block content %}
		<table class="table table-striped">
			<thead class="bg-primary text-white">
				<tr>
					<th>Chave</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				{% for key in row.keys() %}

					{% if key|int(-1) == -1 %}
					<tr>
						<th>{{key}}</td>
						<td>{{row[key]|default('',True)}}</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endblock %}
    </div>
</body>
</html>