<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel=stylesheet type=text/css href="/static/css/bootstrap.min.css" />
    <title>DOT - Arquivo</title>
</head>
<body>
    <div class="container">
		<nav class="navbar navbar-light navbar-expand h4 p-3">
			<ul class="navbar-nav align-items-baseline">
				<li class="nav-item active pr-2 mr-5">
					<a class="nav-link" href="/"><h2>DOT</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="/">Apresentação</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="/dashboard-search/">Pesquisa</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="/static/data/index.html">Arquivo</a>
				</li>
			</ul>
		</nav>
        <nav class="navbar navbar-light navbar-expand h5 p-2">
            <ul class="navbar-nav align-items-baseline">
                <li class="nav-link"><a href="bynome.html" class="nav-link">Entidades por nome</a></li>
                <li class="nav-link active"><a href="bydistrito.html" class="nav-link">Entidades por distrito</a></li>
            </ul>
        </nav>
        <nav class="navbar navbar-light navbar-expand h6 position-absolute flex-column" id="top" style="left: 0px;">
            <ul class="navbar-nav align-items-baseline nav flex-column">
                <li class="nav-link"><a href="#none" class="nav-link">Sem distrito</a></li>
                {% for distrito in ["AVEIRO","BEJA","BRAGA","BRAGANÇA","CASTELO BRANCO","COIMBRA","ÉVORA","FARO","GUARDA","LEIRIA","LISBOA","PORTALEGRE","PORTO","SANTARÉM","SETÚBAL","VIANA DO CASTELO","VILA REAL","VISEU"]%}
                <li class="nav-link"><a href="#{{distrito}}" class="nav-link">{{distrito}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div>
            <h4 id="none">Sem distrito</h4>
            {% for entidade in distritos[distrito] %}<p><a href="{{entidade.id}}.html">{{entidade.nome}}</a></p>{% endfor %}
        </div>
        {% for distrito in ["AVEIRO","BEJA","BRAGA","BRAGANÇA","CASTELO BRANCO","COIMBRA","ÉVORA","FARO","GUARDA","LEIRIA","LISBOA","PORTALEGRE","PORTO","SANTARÉM","SETÚBAL","VIANA DO CASTELO","VILA REAL","VISEU"]%}
        <div>
            <h4 id="{{distrito}}">{{distrito or "Sem Distrito"}} <small class="text-muted"><a href="#top">(ir para topo)</a></small></h4>
            {% for entidade in distritos[distrito] %}<p><a href="{{entidade.id}}.html">{{entidade.nome}}</a></p>{% endfor %}
        </div>
        {% endfor %}
    </div>
</body>