{% extends "archive_base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Tipo</th>
                    <th>{{ fetchone("SELECT Tipo FROM Organizacoes WHERE codEntG = ? LIMIT 1",row["codEntG"])['Tipo'] }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nome</td>
                    <td>{{row['nomeEntidade']}}</td>
                </tr>
                <tr>
                    <th>Sigla</th>
                    <td>{{row['sigla']}}</td>
                </tr>
                <tr>
                    <th>Distrito</th>
                    <td>{{row['distritoDescricao']}}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{row['estadoEntidade']}}</td>
                </tr>
                <tr>
                    <th>Constituição</th>
                    <td>{{ row['dataBteConstituicao'] }}</td>
                </tr>
                {% if row['dataBteExtincao'] %}
                <tr>
                    <th>Extinção</th>
                    <td>{{ row['dataBteConstituicao'] }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Histórico da entidade</th>
                </tr>
            </thead>
            <tbody>
                {% for srow in fetchall("SELECT codEntG, codEntE, numAlt FROM Entidades WHERE codEntG = ? AND codEntE = ? ORDER BY numAlt",row["codEntG"],row["codEntE"]) %}
                <tr>
                    <td>
                        {% if srow['numAlt'] != row['numAlt'] %}
                        <a href="{{srow['codEntG']}}.{{srow['codEntE']}}.{{srow['numAlt']}}.html">{{srow['codEntG']}}.{{srow['codEntE']}}.{{srow['numAlt']}}</a>
                        {% else %}
                        <span>{{srow['codEntG']}}.{{srow['codEntE']}}.{{srow['numAlt']}}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-3">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Eleições dos corpos gerentes</th>
                </tr>
            </thead>
            <tbody>
                {% for srow in fetchall("SELECT codEntG, codEntE, numAlt,numeroEleicao,tipo,especie,subEspecie,numero,ano,servico,dataEleicao FROM EleicoesCorposGerentes WHERE codEntG = ? AND codEntE = ? AND numAlt = ?",row["codEntG"],row["codEntE"],row["numAlt"]) %}
                <tr>
                    <td>
                        {% set id = "%s.%s.%s.%s.%s.%s.%s.%s.%s.%s" % ( srow[0], srow[1], srow[2], srow[3], srow[4], srow[5], srow[6], srow[7], srow[8], srow[9] ) %}
                        {% set url = "../EleicoesCorposGerentes/%s.html" % id %}
                        <a href="{{url}}">
                            {{ srow['dataEleicao'] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-3">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Alterações estatutos</th>
                </tr>
            </thead>
            <tbody>
                {% for srow in fetchall("SELECT codEntG, codEntE, numAlt, numSeqAlt,tipo,especie,subEspecie,numero,ano,servico,dataBTE FROM AlteracoesEstatutos WHERE codEntG = ? AND codEntE = ? AND numAlt = ?",row["codEntG"],row["codEntE"],row["numAlt"]) %}
                <tr>
                    <td>
                        {% set id = "%s.%s.%s.%s.%s.%s.%s.%s.%s.%s" % ( srow[0], srow[1], srow[2], srow[3], srow[4], srow[5], srow[6], srow[7], srow[8], srow[9] ) %}
                        {% set url = "../AlteracoesEstatutos/%s.html" % id %}
                        <a href="{{url}}">
                            {{ srow['dataBTE'] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-3">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>IRCTs</th>
                </tr>
            </thead>
            <tbody>
                {% for srow in fetchall("SELECT numero, numSeq, ano, tipoConv FROM Outorgantes WHERE CodEntG = ? AND CondEntE = ? AND numAlt = ?",row["codEntG"],row["codEntE"],row["numAlt"]) %}
                <tr>
                    <td>
                        {% set id = "%s.%s.%s.%s" % ( srow[0], srow[1], srow[2], srow[3] ) %}
                        {% set url = "../PK_IRCTs/%s.html" % id %}
                        <a href="{{url}}">{{ id }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-3">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Avisos Greve</th>
                </tr>
            </thead>
            <tbody>
                {% for srow in fetchall("SELECT _id_greve FROM Avisos_Greve_Entidades WHERE codEntG = ? AND codEntE = ? AND numAlt = ?",row["codEntG"],row["codEntE"],row["numAlt"]) %}
                <tr>
                    <td>
                        {% set id = "%s" % srow[0] %}
                        {% set url = "../Avisos_Greve/%s.html" % id %}
                        <a href="{{url}}">{{ id }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{{ super()}}
{% endblock %}